---
import MainLayout from "@/layout/MainLayout.astro";
import PageLayout from "@/layout/PageLayout.astro";
import { fetchArticles } from "@/lib/getData";
import type { Post } from "~/types";
import Posts from "@/components/Posts.astro";
export async function getStaticPaths() {
  const articles = await fetchArticles({});

  return Promise.all(
    articles.map(async (article: Post) => {
      const articleData = await fetch(
        "https://dev.to/api/articles/ikurotime/" + article.slug
      )
        .then((res) => res.json())
        .then((data) => data);
      //console.log({ articleData })

      return { params: { slug: article.slug }, props: articleData };
    })
  );
}

const { title, body_html, published_timestamp, reading_time_minutes, tags } =
  Astro.props;
---

<PageLayout title={title}>
  <MainLayout>
    <div class="flex flex-col ustify-between">
      <div class="flex flex-col py-5 gap-8">
        <h1 class="text-5xl font-bold">{title}</h1>
        {
          tags && (
            <div class="flex gap-3">
              {tags.map((tag: string) => (
                <div class="bg-black rounded-md px-3 py-2">
                  <span class="text-sm text-white ">{tag}</span>
                </div>
              ))}
            </div>
          )
        }
        <div class="flex gap-3">
          <span>{new Date(published_timestamp).toLocaleString()}</span>
          <span>{reading_time_minutes} min read</span>
        </div>
        <article
          class="prose dark:prose-invert text-white"
          set:html={body_html}
        />
      </div>
      <Posts row={true} />
    </div>
  </MainLayout>
</PageLayout>
