---
import MainLayout from '@/layout/MainLayout.astro'
import TitleSection from '@/sections/TitleSection.astro'
import WhySection from '@/sections/WhySection.astro'
import WorkSection from '@/sections/WorkSection.astro'
import PageLayout from '@/layout/PageLayout.astro'
import ProcessSection from '@/sections/ProcessSection.astro'
import FAQSection from '@/sections/FAQSection.astro'

import { Resend } from 'resend'

if (Astro.request.method === 'POST') {
  try {
    const resend = new Resend(`${import.meta.env.RESEND_API_KEY}`)

    const data = await Astro.request.formData()
    const name = data.get('name')
    const email = data.get('email')
    const current_website = data.get('current_website')
    const budget = data.get('budget')
    const project_description = data.get('project_description')
    const ideal_date = data.get('ideal_date')
    const source = data.get('source')

    const emailData = await resend.emails.send({
      from: 'onboarding@resend.dev',
      to: 'davidhuertasortiz@gmail.com',
      subject: `Propuesta de ${email}`,
      html: `<p>Nombre: ${name}</p><br/>
      <p>Email: ${email}</p><br/>
      <p>Web actual: ${current_website ?? 'No tiene'}</p><br/>
      <p>Presupuesto: ${budget}</p><br/>
      <p>Descripcion del proyecto: ${project_description}</p><br/>
      <p>Fecha ideal: ${ideal_date}</p>
      <p>Me ha encontrado por: ${source}</p>`
    })
    console.log(data)
    console.log(emailData)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<PageLayout title='David Huertas - Developer & Content creator'>
  <MainLayout>
    <section
      class='flex flex-col gap-8 min-h-screen justify-center items-center relative p-3'
    >
      <h1 class='text-8xl font-bold text-[#1c1c1c]'>Trabajemos juntos</h1>
      <p class='text-2xl text-[#353535]'>
        ¡Rellena el formulario y te contactaré <span class='text-[#EB5E28]'
          >lo antes posible!</span
        >
      </p>
      <div
        class='flex z-10 min-h-[83%] w-full max-w-2xl bg-[#403D39] rounded-lg p-12'
      >
        <form
          id='contactForm'
          class='flex flex-col h-auto w-full gap-4'
          method='POST'
        >
          <div>
            <label class='text-2xl font-bold' for='name'>Nombre</label>
            <input
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              type='text'
              name='name'
              required
              id='name'
            />
          </div>
          <div>
            <label class='text-2xl font-bold' for='email'>Email</label>
            <input
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              type='text'
              name='email'
              required
              id='email'
            />
          </div>
          <div>
            <label class='text-2xl font-bold' for='current_website'
              >URL de web actual (si exite)</label
            >
            <input
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              type='text'
              name='current_website'
              id='current_website'
            />
          </div>
          <div>
            <label class='text-2xl font-bold' for='budget'
              >Presupuesto estimado</label
            >
            <select
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              name='budget'
              id='budget'
              required
            >
              <option value=''>Selecciona un presupuesto</option>
              <option value='< 500€'>&lt; 500€</option>
              <option value='> 500€ < 1000€'> 500€ &gt; - &lt; 1000€</option>
              <option value='> 1000€'>&lt; 1000€</option>
            </select>
          </div>
          <div>
            <label class='text-2xl font-bold' for='services'
              >¿Qué servicios estás buscando?</label
            >
            <select
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              name='services'
              required
              id='services'
            >
              <option value=''>Selecciona un servicio</option>
              <option value='design'>Diseño</option>
              <option value='webflow_development'>Desarrollo con Webflow</option
              >
              <option value='wordpress_development'
                >Desarrollo con Wordpress</option
              >
              <option value='not_sure'>No lo sé</option>
            </select>
          </div>
          <div>
            <label class='text-2xl font-bold' for='project_description'
              >Háblame sobre el proyecto</label
            >
            <textarea
              class='w-full p-2 rounded-lg bg-[#252422] text-white text-xl'
              rows='5'
              name='project_description'
              required
              id='project_description'></textarea>
          </div>
          <div>
            <label class='text-2xl font-bold' for='ideal_date'
              >Fecha ideal para entregar la web</label
            >
            <input
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              type='date'
              name='ideal_date'
              id='ideal_date'
            />
          </div>
          <div>
            <label class='text-2xl font-bold' for='source'
              >¿Cómo me has encontrado?</label
            >
            <input
              class='w-full px-3 py-2 rounded-lg bg-[#252422] text-white text-xl'
              type='text'
              name='source'
              id='source'
            />
          </div>
          <button
            class='flex justify-center gap-8 w-full h-16 bg-[#EB5E28] rounded-lg text-white text-center leading-[64px] text-2xl'
          >
            Empezar
          </button>
        </form>
      </div>
      <div
        class='flex z-10 py-12 px-12 justify-between w-full text-2xl text-white'
      >
        <p>Hecho con 🧡 por mí</p>
        <p>
          ¿Preguntas? <a
            href='mailto:davidhuertasortiz@gmail.com'
            class='text-[#EB5E28]'>davidhuertasortiz@gmail.com</a
          >
        </p>
      </div>
    </section>
  </MainLayout>
  <div class='block absolute bottom-0 z-0 bg-[#1c1c1c] w-full h-1/2'></div>
</PageLayout>
