---
import Card from '../layouts/Card.astro'
import MainLayout from '../layouts/MainLayout.astro'
import projects from '../projects'
const posts = await Astro.glob('../pages/blog/*.md')
---

<MainLayout title='David Huertas'>
  <div class='max-w-1/2 flex-1'>
    <span class='text-zinc-700'><strong>Projects 🧱</strong></span>
    <div class='py-4'>
      <ul class='gap-4 flex flex-col'>
        {
          projects.map((project) => (
            <li class='flex w-full flex-col'>
              <a href={project.href} rel='noreferrer' target='_blank'>
                <Card
                  title={project.title}
                  description={project.description}
                  tags={project.tags}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <!--       <div class='max-w-1/2 flex-1 py-4'>
        <span class='text-zinc-700'><strong># Skills 🛠</strong></span>
      </div> -->
  <div class='max-w-1/2 flex-1'>
    <span class='text-zinc-700'
      ><strong>Blog 📒</strong>
      <div class='py-4'>
        <ul class='gap-4 flex flex-col'>
          {
            posts
              .filter((post) => post.frontmatter.draft === false)
              .map((post) => (
                <li class='flex w-full flex-col'>
                  <a href={post.url}>
                    <Card
                      title={post.frontmatter.title}
                      description={post.frontmatter.description}
                      tags={post.frontmatter.tags}
                    />
                  </a>
                </li>
              ))
          }
        </ul>
      </div>
    </span>
  </div>
</MainLayout>
