---
import { getCollection } from 'astro:content'
import Card from '../layouts/Card.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const getPath = (page: { slug: string }) => {
  const [lang, ...slug] = page.slug.split('/')
  return `/${lang}/posts/${slug.join('/') || ''}`
}

const lang = getLangFromUrl(Astro.url)
const posts = await getCollection('posts')
const years = new Date().getFullYear() - 2021
---

{
  lang === 'en' ? (
    <p class='text-[#D1D5DB] text-md my-12'>
      I'm a passionate coder with +{years} years of experience. Based in
      Valencia, Spain.
      <br />I like open source software, great UX/UI design and a great
      napolitan pizza. I also create content. vim user btw.
    </p>
  ) : (
    <p class='text-[#D1D5DB] text-md my-12'>
      Soy un desarrollador de software apasionado con +{years} a침os de
      experiencia. Residiendo en Valencia, Espa침a.
      <br />
      Me gusta el software de c칩digo abierto, el buen dise침o de UX/UI y una
      buena pizza napolitana. Tambi칠n creo contenido. vim user btw.
    </p>
  )
}
<div class='flex-1'>
  <span class='text-[#D1D5DB] text-md'>Blog 游</span>
  <div class='py-2'>
    <ul class='gap-4 grid grid-cols-1 md:grid-cols-1'>
      {
        posts
          .filter(
            (post) => post.data.draft === false && post.data.language === lang
          )
          .sort(
            (a, b) =>
              new Date(b.data.pubDate).getTime() -
              new Date(a.data.pubDate).getTime()
          )
          .map((post) => (
            <li class='flex w-full flex-col'>
              <a href={getPath(post)}>
                <Card
                  title={post.data.title}
                  description={post.data.description}
                  tags={post.data.tags}
                  pubDate={new Date(post.data.pubDate).toLocaleDateString()}
                />
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</div>
