---
import Prose from './Prose.astro'
import '@fontsource-variable/inter'
import Head from '../components/Head.astro'
import { ViewTransitions } from 'astro:transitions'
const { language, frontmatter } = Astro.props
---

<html lang={language}>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <Head
      title={frontmatter.title}
      description={frontmatter.description}
      keywords={frontmatter.keywords}
    />
    <ViewTransitions />
  </head>
  <body class='flex min-h-screen bg-gray-50 w-full'>
    <div class='flex flex-row w-full'>
      <div class='flex flex-col m-auto gap-2 sm:p-8 px-4 md:p-14 max-w-[75ch]'>
        <a class='text-gray-500 font-bold text-xl mt-6' href='/'>
          &lt;- Blog
        </a>
        <h1 class='text-2xl md:text-4xl font-bold mb-2'>
          {frontmatter.title}
        </h1>
        <span class='text-gray-500 text-lg mb-4'>
          {frontmatter.description}
        </span>
        <span class='text-gray-500'>
          {new Date(frontmatter.pubDate).toLocaleDateString()}
        </span>
        <Prose frontmatter={frontmatter}>
          <slot />
        </Prose>
      </div>
    </div>
    <div
      class='border-l xl:flex flex-shrink-0 p-16 px-12 border-gray-200 w-3/12 hidden relative'
    >
      <div class='flex flex-col gap-2 sticky top-16 h-fit'>
        <img
          src='https://avatars.githubusercontent.com/u/77805983?v=4'
          class='rounded-full size-40'
          alt='Author of the blog'
        />
        <strong class='text-xl'>Kuro</strong>
        <span class='text-gray-500 text-lg'>Building things is fun.</span>
        <a href='https://x.com/ikurotime' target='_blank' rel='norefferer'>
          <strong>@ikurotime</strong>
        </a>
        <a href='https://github.com/ikurotime' target='_blank' rel='norefferer'>
          <strong>Github</strong>
        </a>
      </div>
    </div>
    <style>
      body {
        font-family: 'Inter Variable', sans-serif;
      }
    </style>
  </body>
</html>
