---
import Prose from './Prose.astro'
import '@fontsource-variable/inter'
import Head from '../components/Head.astro'
import Footer from './Footer.astro'
import Navbar from './Navbar.astro'
import ProgressBar from '../components/ProgressBar.astro'
const { language, frontmatter } = Astro.props
---

<html lang={language}>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>'
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <Head
      title={frontmatter.title}
      description={frontmatter.description}
      keywords={frontmatter.keywords}
    />
  </head>
  <body class='flex flex-col min-h-screen py-12 bg-[#171717] w-full gap-8'>
    <ProgressBar />
    <Navbar />
    <div class='flex flex-col w-full'>
      <div class='flex flex-col max-w-[960px] mx-auto py-20 gap-4 max-sm:px-4'>
        <h1 class='text-2xl text-[#EEEEEC] md:text-4xl font-bold mb-2'>
          {frontmatter.title}
        </h1>
        <div class='flex gap-2 items-center'>
          <span class='text-[#D1D5DB]'>
            {new Date(frontmatter.pubDate).toLocaleDateString()} -
          </span>
          <span class='text-[#D1D5DB]'>
            {frontmatter.tags.join(', ')}
          </span>
        </div>
      </div>
      <div class='flex flex-col m-auto gap-2 max-sm:px-4 max-w-[960px] pb-12'>
        <Prose frontmatter={frontmatter}>
          {
            frontmatter.wip ? (
              frontmatter.language === 'es' ? (
                <div class='text-orange-400 p-4 rounded-md bg-orange-900/50 m-4'>
                  🛠️ Kuro está trabajando en este post. Todo deberia de
                  funcionar como está indicado, pero puede que haya algunos
                  errores.
                </div>
              ) : (
                <div class='text-orange-400 p-4 rounded-md bg-orange-900/50 m-4'>
                  🛠️ Kuro is working on this post. Everything should work as
                  indicated, but there may be some errors.
                </div>
              )
            ) : null
          }
          <slot />
        </Prose>
        <script
          src='https://giscus.app/client.js'
          data-repo='ikurotime/blog-comments'
          data-repo-id='R_kgDOPtEulQ'
          data-category='Announcements'
          data-category-id='DIC_kwDOPtEulc4CvOdX'
          data-mapping='pathname'
          data-strict='0'
          data-reactions-enabled='1'
          data-emit-metadata='0'
          data-input-position='top'
          data-theme='noborder_dark'
          data-lang='en'
          data-loading='lazy'
          crossorigin='anonymous'
          async></script>
      </div>
    </div>
    <Footer />

    <style is:global>
      body {
        font-family: 'Inter Variable', sans-serif;
      }
      /* Fix <pre> tag gap when code is next element. */
      pre:has(> code) {
        background-color: transparent !important;
        border: 1px solid #232323 !important;
        white-space: pre-wrap;
        padding: 1em;
      }
    </style>
  </body>
</html>
